.git
.gitignore
.github
.dockerignore
Dockerfile
compose.yaml
docker-compose.yml

.env
.env.*

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/.bundle
/vendor/bundle

node_modules
/public/assets

/coverage
/spec/tmp
capybara-*.html
pickle-email-*.html
rerun.txt

*.orig
*.rbc
.byebug_history
.rspec
.ruby-lsp
