<h2>The ArchivesSpace Data Dictionary</h2>

<p>This application would not be possible without the ArchivesSpace User Advisory
  Council Reports Sub-team.</p>

<p>The current search capability searches all fields included in the database.</p>

<p><strong>NOTE: As of January 31, 2018, this is a BETA version that has not been officially released.</strong></p>

<h3>Intended Use</h3>
<p>The information in this application is expected to be used by the ArchivesSpace
  community to determine where data is stored in the ArchivesSpace database along
  with how the data is displayed (using the Staff and Public User Interface Labels).</p>

<h3>Future enhancements</h3>
<p>We anticipate adding functionality over time to improve the information contained and enhance the
  usefulness of this application.</p>

<ul>
<li>crosswalk information for the following metadata standards:
<ul>
<li>EAD</li>
<li>MARC</li>
<li>MODS</li>
<li>DC</li>
</ul>
</li>

<li>Results highlighting</li>
<li>Sort capability from column headings</li>
<li>Ability to search specific fields</li>
</ul>

<%= link_to 'Back', :back %>
