<h2>The ArchivesSpace Data Dictionary</h2>

<p>The ArchivesSpace Data Dictionary provides a simple mechanism to identify information about the data elements in the ArchivesSpace database schema.

<p>The current search capability searches all fields included in the database.</p>

<p><strong>NOTE: As of January 31, 2018, this is a BETA version that has not been officially released.</strong> Please send feedback by emailing laney.mcglohon@lyrasis.org or submitting an issue to the GitHub repository.</p>

<h3>Intended Use</h3>
<p>The information in this application is expected to be used by the ArchivesSpace
  community to determine where data is stored in the ArchivesSpace database along
  with how the data is displayed in the staff and public user interfaces. We expect it will be helpful for a variety of purposes, including writing reports, working with the ArchivesSpace API, and writing code for functions in the application.</p>

<h3>Future enhancements</h3>
<p>We anticipate adding additional data points and functionality over time to enhance the
  usefulness of this application.</p>
<p>Planned enhancements include:</p> 
<ul>
<li>Adding crosswalk information for the following metadata standards:
<ul>
<li>EAD</li>
<li>MARC</li>
<li>MODS</li>
<li>DC</li>
</ul>
</li>

<li>Highlighting results in context</li>
<li>Sort capability from column headings</li>
<li>Ability to search specific fields</li>
 <li>Exporting of search results</li>
</ul>

<h3>Special Thanks</h3>  
  
<p>This application would not be possible without the work of the ArchivesSpace User Advisory
  Council Reports Sub-team.</p>

<%= link_to 'Back', :back %>
