/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin: 0px 50px 0 50px;
  padding-top: -60px;
}
form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #EEE;
  color: white;
  box-sizing: border-box;
}
input[type=text] {
  width: 50%;
  font-size: 20px;
  margin: 0px 20px 0 20px;
}
input[type=submit] {
  width: 10%;
  font-size: 20px;
}
input[type=file] {
  width: 50%;
  font-size: 20px;
  background-color: #EEE;
  color: black;
}
input[type=hidden] {
  width: 50%;
  font-size: 20px;
  background-color: #EEE;
  color: black;
  box-sizing: border-box;
  font-weight: bold;
}
